* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


  body{
    background-color: blue;
    display:flex;
    justify-content: center;
    
  }


.wrapper{
  display: flex;
  justify-content: space-between;
  height: 300px;
  width: 300px;
  background-color: white;
}
.item{
  height: 100px;
  background-color: black;
  width: 100px;
  border: 3px solid cyan;
}
.item.odd{
  align-self: center;
  background-color: crimson;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



